.projectWrapper {
  width: 100%;
  padding-bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectContent {
  position: relative;
}

.projectVideoWrapper {
  padding: 0 30px 0 100px;
  margin: 0 auto;

  @media (min-width: 1100px) {
    max-width: 800px;
    padding: 0 30px;
  }
}

.projectVideo {
  margin: 0 auto;
  max-width: calc(178vh - 200px); // make sure the video fits entirely on the screen (100 / 0.56 = 178)
}

.projectImagesWrapper {
  overflow: hidden;
}

.projectImages {
  padding-left: 100px;
  height: 65vh;
  height: calc(100vh - 145px);
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  // This hides the scrollbar
  margin-bottom: -20px;
  padding-bottom: 20px;

  @media (min-width: 1100px) {
    padding-left: 200px;
  }

  @media (min-height: 700px) {
    height: calc(100vh - 200px);
    max-height: 900px;
  }
}

.projectImage {
  height: 100%;
  width: auto;
  display: inline-block;
  flex: 1 0 auto;
  padding-right: 10px;

  &:last-child {
    padding-right: 30px;
  }

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

.projectCopy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 9px 30px 0;
  transform: translateY(100%);
  font-size: 12px;
  text-align: right;

  p {
    margin: 0;

    & + & {
      margin-top: 5px;
    }
  }
}

.projectTitle {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}