/*@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}*/

@import 'normalize.scss';
@import 'variables';

@import 'components/navigation';
@import 'components/feed';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
  background: $body-bg;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-weight: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button,
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: $font-size-sm;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;

  &:disabled {
    background-color: lighten(#000, 50%);
  }
}

select {
  appearance: none;
  padding: 3px 10px;
  text-transform: uppercase;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #000;
  background: {
    image: url('../../static/down-caret.png');
    repeat: no-repeat;
    size: 12px auto;
    position: top 8px right 10px;
  }
}

p {
  margin: 0 0 1rem;
}

.wrapper {
  padding-left: 100px;

  @media (min-width: $screen-xl-min) {
    padding-left: 200px;
  }
}

.shopWrapper {
  @extend .wrapper;

  @media (min-width: $screen-xl-min) {
    padding-right: 200px;
  }
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  margin: 0 0 5vmin 0;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.productFrame {
  padding: 40px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 800px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;      
  }
}



.image-map {
  // canvas {
  //   height: 100vh;
  //   width: 100vw;
  // }
}

.image-map-blocker {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $body-bg;
  height: 100%;
  width: 100%;
  transition: opacity 1000ms cubic-bezier(0.27, 0.01, 0.15, 0.93);
  opacity: 1;

  &.is-loaded {
    opacity: 0;
    pointer-events: none;
  }
}

.image-map__progress-bar {
  display: inline-block;
  background: $body-color;
  height: 1px;
  width: 0%;
  transition: width 300ms cubic-bezier(0.16, 0.02, 0.16, 0.95);

  
  z-index: 1000;
  left: 0;
  top: 10px;
  position: absolute;  
}

.image-map-blocker__loader {
  position: relative;

  .image-map__progress-bar {
    position: absolute;
    bottom: -5px;
    left: 0;
    top: auto;

  }
}