.feed {
  padding: 10vw 0;
}

.feedItem {
  max-width: 100%;
}

.feedItemPortrait {
  max-width: 600px;
  max-width: 20vw;    
}

.feedItemLandscape {
  max-width: 600px;
  max-width: 50vw;
}

// .feedItem--portrait {

// }

// .feedItem--landscape {

// }

.feedItemTitle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-weight: bold;
  font-size: calc(30px + 1.8vw);
  text-transform: uppercase;
  transition: opacity 300ms ease;
}

.feedItemCaption {
  display: none;
  transition: opacity 300ms ease;
}