.navigation {
  position: fixed;
  z-index: 1000;
  top: 200px;
  top: 30vh;
  left: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  a {
    color: currentColor;
  }

  & + & {
    margin-top: 5px;
  }
}
